---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import {  getAllSanityPosts } from "../lib";
const data = await getAllSanityPosts();
---

<Layout title="Welcome to Astro.">

  <main>
    <h1>WP</h1>
    <ul>
      { data ? 
        data?.map(({name, animal, breed}) => 
          ( <li>{name}</li>
           <li>{animal}</li>
           <li>{breed}</li>
           )
        ) : <li>...loading</li>
      }
  
    </ul>
  </main>
</Layout>


