---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import {  getAllWPPosts } from "../lib";
const data = await getAllWPPosts();
---

<Layout title="Welcome to Astro.">

  <main>
    <h1>WP</h1>
    <ul>
      { data ? (
        data?.map(({node: {title, slug, content}}) => 
          ( <li>{title}</li>
           <li>{slug}</li>
           <div set:html={content}></div>
        )  
        )) : (
          <div>loading...</div>
        )
      }
  
    </ul>
  </main>
</Layout>


